* {
    box-sizing: border-box
}

@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fafafa ;
}

/**************** for all ******************/

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 7px;
}

.nav-link, h2 {
    color: #009688;
}

.inner-wrapper {
    height:  100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
}

/**************** header ******************/

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: flex-start;
}

.nav-link {
    font-size: 20px;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

/**************** main ******************/

.section {
    font-size: 16px;
    min-height: 100px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    background: #0096882e;
    color: #4d4d4d;
}

.section li {
    padding: 5px 0;
}

.section li b {
    display: inline-block;
    width: 100px;
}

.section-title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-break: break-word
}

.section-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.section-profile img {
    position: relative;
    border-radius: 5%;
    max-width: 200px;
    max-height: 200px;
}

.pre {
    white-space: pre;
    word-break: break-word;
    word-wrap: break-word;
    display: block;
    overflow-x: auto;
}

/**************** footer ******************/

.footer {
    min-height: 200px;
    width: 100%;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.rss-logo a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100px;
}

.rss-logo img {
    width: 100px;
}

.git-logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

/**************** media ******************/

@media (max-width: 500px) {
    .inner-wrapper > div {
        margin: 10px 0;
    }

    .footer-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .nav-list {
        flex-direction: column;
        align-items: flex-end;
    }
}